extends layout.pug

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='js/howler.js')
    script(src='js/admin.js')

block content
    h1 Jeopardy Admin
    .row
        .col-lg-6
            h2 Game Controls
            button#start.btn.btn-success.mr-1 Start
            button#buzzertoggle.btn.btn-success Activate Buzzers
            p#firstbuzzer
            #responsecontrols
                button#correct.btn.btn-success Correct
                button#incorrect.btn.btn-danger Incorrect
            p#lastcorrect
            h2.pt-3 Balances
            #balances
            h2 Set a balance
            form#balanceChangeForm
                .form-row
                    .col-sm-6.mb-3
                        label(for='nameToUpdate') User
                        .input-group
                            select#nameToUpdate.form-control
                                option
                    .col-sm-6.mb-3
                        label(for='newbalance') New Balance
                        .input-group
                            .input-group-prepend
                                span#inputGroupPrepend.input-group-text $
                            input#newbalance.form-control(type='number', oninput='this.value=(parseInt(this.value)||0)', step='1')
                .form-group
                    input.btn.btn-primary(type='submit', id='')
            h2 Audio
            .row
                button#thememusic.btn.btn-info.m-1 Theme
                button#themefade.btn.btn-info.m-1 Fade Out
            .row
                button#thinkmusic.btn.btn-info.m-1 Think
                button#thinkfade.btn.btn-info.m-1 Fade Out
            .row
                button#timeoutmusic.btn.btn-info.m-1 Timeout
                button#timeoutfade.btn.btn-info.m-1 Fade Out
        .col-lg-6
            h2 Display Controls
            table.w-100.text-center(style='table-layout: fixed;')
                tbody
                    tr(style='font-size: 12px;')
                        th#c1 C1
                        th#c2 C2
                        th#c3 C3
                        th#c4 C4
                        th#c5 C5
                        th#c6 C6
                    tr
                        td
                            button#cl11.btn.btn-primary.btn-block $200
                        td
                            button#cl21.btn.btn-primary.btn-block $200
                        td
                            button#cl31.btn.btn-primary.btn-block $200
                        td
                            button#cl41.btn.btn-primary.btn-block $200
                        td
                            button#cl51.btn.btn-primary.btn-block $200
                        td
                            button#cl61.btn.btn-primary.btn-block $200
                    tr
                        td
                            button#cl12.btn.btn-primary.btn-block $400
                        td
                            button#cl22.btn.btn-primary.btn-block $400
                        td
                            button#cl32.btn.btn-primary.btn-block $400
                        td
                            button#cl42.btn.btn-primary.btn-block $400
                        td
                            button#cl52.btn.btn-primary.btn-block $400
                        td
                            button#cl62.btn.btn-primary.btn-block $400
                    tr
                        td
                            button#cl13.btn.btn-primary.btn-block $600
                        td
                            button#cl23.btn.btn-primary.btn-block $600
                        td
                            button#cl33.btn.btn-primary.btn-block $600
                        td
                            button#cl43.btn.btn-primary.btn-block $600
                        td
                            button#cl53.btn.btn-primary.btn-block $600
                        td
                            button#cl63.btn.btn-primary.btn-block $600
                    tr
                        td
                            button#cl14.btn.btn-primary.btn-block $800
                        td
                            button#cl24.btn.btn-primary.btn-block $800
                        td
                            button#cl34.btn.btn-primary.btn-block $800
                        td
                            button#cl44.btn.btn-primary.btn-block $800
                        td
                            button#cl54.btn.btn-primary.btn-block $800
                        td
                            button#cl64.btn.btn-primary.btn-block $800
                    tr
                        td
                            button#cl15.btn.btn-primary.btn-block $1000
                        td
                            button#cl25.btn.btn-primary.btn-block $1000
                        td
                            button#cl35.btn.btn-primary.btn-block $1000
                        td
                            button#cl45.btn.btn-primary.btn-block $1000
                        td
                            button#cl55.btn.btn-primary.btn-block $1000
                        td
                            button#cl65.btn.btn-primary.btn-block $1000
            button#showBoard.btn.btn-primary Show Clue Board
            h2 Current Clue
            p#clue
            p#answer
            h2 Final Jeopardy
            button#displayFinal.btn.btn-primary.mb-1.mr-1 Show Category & Allow wagers
            #wagerTable
            button#displayFinalClue.btn.btn-primary.mb-1.mr-1 Display Clue
            button#startFinal.btn.btn-primary.mb-1.mr-1 Start Timer & Allow responses
            #responseTable
