doctype html
html.h-100
    head
        title Jeopardy!
        link(rel='icon', type='image/png', href='/favicon.ico')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
        link(rel='stylesheet', href='/css/style.css')
    body.bg-dark.h-100
        #board-container
            #clue.bg-primary.w-100.h-100.text-center.text-white(style='font-size: 36px; display: none;')
                #clueText
            table#board.bg-primary.w-100.h-100.text-center.text-warning(style='font-size: 24px; table-layout: fixed;')
                thead
                    tr.text-white
                        th#c1 C1
                        th#c2 C2
                        th#c3 C3
                        th#c4 C4
                        th#c5 C5
                        th#c6 C6
                tbody
                    tr
                        td#11 $200
                        td#21 $200
                        td#31 $200
                        td#41 $200
                        td#51 $200
                        td#61 $200
                    tr
                        td#12 $400
                        td#22 $400
                        td#32 $400
                        td#42 $400
                        td#52 $400
                        td#62 $400
                    tr
                        td#13 $600
                        td#23 $600
                        td#33 $600
                        td#43 $600
                        td#53 $600
                        td#63 $600
                    tr
                        td#14 $800
                        td#24 $800
                        td#34 $800
                        td#44 $800
                        td#54 $800
                        td#64 $800
                    tr
                        td#15 $1000
                        td#25 $1000
                        td#35 $1000
                        td#45 $1000
                        td#55 $1000
                        td#65 $1000
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='js/howler.js')
    script(src='js/board.js')
