doctype html
html.h-100
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Jeopardy!
        link(rel='icon', type='image/png', href='/favicon.ico')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
        link(rel='stylesheet', href='/css/style.css')
    body.bg-dark.h-100
        #content.container.bg-light.p-5
            block content
        block scripts