extends layout.pug

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='js/player.js')

block content
    #prej
        h1 Jeopardy
        form
            .form-group
                label(for='name') Name
                input#name.form-control(type='text', placeholder='Jeff')
                button#join.mt-3.btn.btn-primary Join
    #balancetable.bg-primary
    #normalj
        button#buzzer.btn.btn-success.btn-lg.btn-block Buzz!
    #finalj
        h2 Wager
        .input-group
            .input-group-prepend
                .input-group-text $
            input#wager.form-control(type='number')
        h2 Response
        input#response.h-100.w-100(type='text', disabled='')
