#content {
    min-height: 100%;
}
/* Player Styles */

#buzzer {
    height: 50vh;
}

/* Board Styles */
#board-container {
    width: 100%;
    height: 100%;
    padding: 3em;
}
#board td, #board th {
    border: 3px solid black;
}
#board thead {
    border-bottom: 5px solid black;
}
#clueText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    width: 90%;
}